.root {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  box-shadow: var(--mantine-shadow-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.control {
  &::before {
    display: none;
  }
}

.label {
  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(24px);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: rem(8px);
  justify-items: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(28px);
  }
}

.tagCard {
  position: relative;
  overflow: hidden;
  transition:
    transform 150ms ease,
    box-shadow 100ms ease;
  padding: var(--mantine-spacing-md);
  padding-left: calc(var(--mantine-spacing-xl) * 0.6);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(6px);
    
  }
}